@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Ubuntu:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar start */
h1, h2, h3{
    font-family: 'Jost', sans-serif !important;
}
.nav-container h1{
    font-size: 2.3rem;
    font-weight: 600;
    padding: .5rem .5rem;
    letter-spacing: 1px;
}
/* navbar end */
/* hero section start  */
.hero-section .col-md-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}
.hero-section h3, h4{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.hero-section .hero-first{
   font-size: 3rem;
}
.hero-section p{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
/* hero section end  */
/* section 3 start */
.section-3{
    margin-bottom: 3rem;
}
.section-3 .content-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-3 p{
    color: #7A7A7A;
    padding-bottom: .4rem;
}
.section-3 h3{
    font-size: 1.4rem;
    padding: 1.1rem 0;
}
.section-3 a{
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}
.section-3 h5{
    background-color: #135672;
    display: flex;
    justify-content: center;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .375rem;
}
.section-3 h5:hover{
 color: yellow;
}
.section-3 .row-top{
    margin: 3rem 0;
}
.section-3 .second-row{
    margin: 2rem 0;
}
.section-3 .third-row{
    margin: 6rem 0;
}
.third-row h6{
    padding-bottom: 1rem;
}

.content-6 ul li{
 color: #7A7A7A;
}
/* section 3 end */
/* footer start */
.footer{
    background-color: #f0f2f5;
    padding: 3rem 0;
}
.footer p{
    color: #7A7A7A;
}
.footer a{
    color: #7A7A7A;
    padding:  .5rem;
    text-decoration: none;
}
/* footer end */ 

@media screen and (max-width: 768px) {
    .nav-container h1{
        font-size: 1.5rem;
    }
    /* hero section */
    .hero-section h1{
        font-size: 1.7rem !important;
    }
}
